/**
* @name NeonDiscord
* @version V1.0
* @description A dark theme specialised for gaming. - Based on the Nocturnal theme
* @author ilkya#6645
* @invite PzuNRjradk
* @Source https://github.com/codedotspectra/themes
* @website https://betterdiscord.app/theme/
*
 _   _   _                    
 (_) | | | |                   
  _  | | | | __  _   _    __ _ 
 | | | | | |/ / | | | |  / _` |
 | | | | |   <  | |_| | | (_| |
 |_| |_| |_|\_\  \__, |  \__,_|
                  __/ |        
                 |___/   
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/nocturnal.css");
@import url('https://discordstyles.github.io/RadialStatus/base.css');
@import url('https://discordstyles.github.io/HorizontalServerList/base.css');
:root {
--mainColor: #02A1F0FF;
--backgroundColor01: #171717FF;
--backgroundColor02: #121212FF;
--gradientColor01: #FF00DBFF;
--gradientColor02: #00F3FFFF;
--HSL-server-icon-size: 40px;
--HSL-server-spacing: 10px;
--rs-small-spacing: 2px;
--rs-large-spacing: 3px;
--rs-width: 2px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
}
