/**
 * @name Xiao Genshin Impact
 * @author ilkya
 * @description Xiao theme for Discord.
 * @source https://github.com/ilkyaa/better-discord-themes
 * @authorId 385451357840211969
 * @updateUrl https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://i0.wp.com/upload-os-bbs.hoyolab.com/upload/2021/01/06/5481824/5d703ec2befb2e30fd41c7e11913252d_1028706405156167716.png');
  --backgroundsize: cover;
  --backgroundblur: 1px;
  --popout: transparent;
  --popoutsize: cover;
  --popoutblur: 1px;
  --transparencycolor: 249,249,249;
  --accentcolor: 76,93,233;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.15;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.15;
  --memberlisttransparency: 0;
  --font: Whitney;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}
